#veditor {
  background-image: url('https://telegraph-image-et0.pages.dev/file/1a5aa5ce6494b87d7459f.gif');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  background-color: rgba(255, 255, 255, 0);
  resize: vertical
}
